@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,800&display=swap");

@import "~bootstrap/scss/_functions.scss";
@import "bootstrap/scss/_variables.scss";
@import "bootstrap/scss/mixins/_breakpoints.scss";


html body {
  font-family: "Open Sans", sans-serif;
  background-color: #FFFFFF;
}

html {
  scroll-behavior: smooth;
}

header {
  background-color: #ffffff42;
}

input, textarea {
  border: solid 1px #dfdfdf;
}

.slogan {
  word-break: break-word;
}

.prices-section {
  position: relative;
}

.slider {
  &::after {
    content: "";
    background-image: url("../images/bikebackground.jpg");
    background-position: center bottom;
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }

  &::before {
    content: "";
    background-color: #b1d0ff;
    opacity: 0.6;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }
}

body a {
  color: #000;
}

.nav-wrap {
  display: none;
  font-weight: bold;

  @include media-breakpoint-up(lg) {
    display: block;
  }
}
.prices-section {
  .card {
    background-color: #b1d0ff;
    height: 100%;
  
    &-body {
      background-color: #fff;
      position: relative;
      .btn {
        position: absolute;
        left: 1.25rem;
        bottom: 0;
        right: 1.25rem;
      }
    }
  
    &-text {
      margin: 0 0 70px 0;
    }
  
    img {
      opacity: 0.5;
    }
  }
}


.price-form.modal {
  display: block;
  &::after {
    content: "";
    background-color: #343a40;
    opacity: 0.5;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }
}

.img-wrap {
  width: 40%;
  height: 60%;
  overflow: hidden;
  background-color: #b1d0ff;
  img {
    min-height: 100%;
  }
}

.footer {
  background-color: #202429;
  color: #fff;
}

.hamburger {
  display: none;
}

@include media-breakpoint-down(md) {
  h1.display-4,
  h2.display-4 {
    font-size: 2rem;
  }

  .img-wrap {
    width: 100%;
    height: 20%;
  }

  .hamburger {
    display: block;
    height: 30px;
    width: 30px;
    margin: 0.5rem 15px;
    position: relative;
    transition: all 0.2s;
    z-index: 1;

    &.active {
      .hamburger-icon {
        height: 0;
        width: 100%;
        background: #202429;
        position: absolute;
        top: calc(50% - 1px);
        transition: all 0.2s;

        &::after {
          content: "";
          display: block;
          height: 2px;
          width: 100%;
          background: #ffffff;
          position: absolute;
          top: 0;
          transform: rotate(45deg);
          transition: all 0.2s;
        }

        &::before {
          content: "";
          display: block;
          height: 2px;
          width: 100%;
          background: #ffffff;
          position: absolute;
          bottom: -2px;
          transform: rotate(-45deg);
          transition: all 0.2s;
        }
      }
    }

    &-icon {
      height: 2px;
      width: 100%;
      background: #202429;
      position: absolute;
      top: calc(50% - 1px);

      &::after {
        content: "";
        display: block;
        height: 2px;
        width: 100%;
        background: #202429;
        position: absolute;
        top: -10px;
      }

      &::before {
        content: "";
        display: block;
        height: 2px;
        width: 100%;
        background: #202429;
        position: absolute;
        bottom: -10px;
      }
    }
  }

  .show-nav {
    position: fixed !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 100vh;

    &::after {
      content: "";
      background: #202429;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0.9;
      z-index: -1;
    }

    a {
      color: #ffffff;
      font-size: 24px;
      font-weight: bold;
    }

    .justify-content-end {
      justify-content: center !important;
      flex-direction: column;
      min-height: 100vh;
      li.nav-item {
        text-align: center;
        padding: 10px 0;
      }
    }
  }
}

.insta {
  float: right;
}